body {
    background: url(./img/fon.gif) no-repeat fixed center;
}

.header {
    background: url(img/head2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    position: relative;
    z-index: 5;
    margin-bottom: 5px;
}

.container {
    margin: 0 auto;
    margin: 0 50px;
    height: 100vh;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
}

.section_log,
.section_table {
    height: 45%;
    display: block;
    margin-bottom: -35px;
}

.title_table {
    background: url(img/head1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    margin-bottom: 5px;
}

.log_item,
.table_item {
    height: 80%;
    overflow: auto;
    padding: 20px;
    font-size: 16px;
    border: 2px solid rgb(102, 93, 93);
    background-color: rgb(161, 189, 202, 0.8);
    z-index: 50;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    width: 100%;
}

th {
    padding: 10px;
}

td {
    background: #F5D7BF;
    padding: 10px;
}